@import "~/styles/variables.less";

.bubble {
  margin-bottom: 12px;
  background-color: @bubble-bg-color;
  border-radius: 8px;
  padding: 12px;

  .header {
    margin-bottom: 4px;
  }

  .markdown {
    white-space: pre-line;
    font-family: Arial, Helvetica, sans-serif;
  }
}
