.layout {
	height: 100%;
	display: flex;

	.main {
		flex: 1;
		display: flex;
		flex-direction: column;

		.title {
			font-size: 24px;
			font-weight: 500;
			height: 48px;
			line-height: 48px;
			margin-left: 12px;
		}

		.comp {
			position: relative;
			flex: 1;
		}
	}

	.sider {
		width: 48px;
		padding: 8px 0;
		background-color: var(--color-background-soft);
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		.agentList {
			display: flex;
			gap: 12px;
			flex-direction: column;
			align-items: center;

			.block {
				padding: 6px;

				.icon {
					width: 28px;
					height: 28px;
					border-radius: 50%;
				}

				&:hover {
					cursor: pointer;
					background-color: var(--color-background);
					border-radius: 8px;
					border: 0.5px solid var(--color-primary);
				}

				&.active {
					background-color: var(--color-background);
					border-radius: 8px;
					border: 0.5px solid var(--color-primary);
				}
			}
		}

		.setting {
			display: flex;
			gap: 16px;
			flex-direction: column;
			align-items: center;
		}
	}
}
